<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>Weather App (by endo)</h1>
    <form method="POST">
      <div class="search-bar">
        <input type="text" name="city" placeholder="Enter city name..." required>
        <button type="submit">Weather</button>
      </div>
    </form>

    {% if weather %}
      <div class="weather-info">
        {% if weather.error %}
          <p>{{ weather.error }}</p>
        {% else %}
          <h2>{{ weather.city }}, {{ weather.country }}</h2>
          <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="{{ weather.description }}">
          <p>{{ weather.description.capitalize() }}</p>
          <p>Temperature: {{ weather.temperature }} °C</p>
          <p>Humidity: {{ weather.humidity }} %</p>
        {% endif %}
      </div>
    {% endif %}
  </div>
</body>
</html>
